 /* Aldrich is similar to angular font used in the title image, good for headlines.
 	Open Sans is a rounded smooth easy to read font for body text. */
@import url('https://fonts.googleapis.com/css?family=Aldrich|Open+Sans&display=swap');


/*
 * Possible changes/improvements: 
 *		 Add expand/collapse icon to showcase as it may not be 
 *			obvious what the user has to click on to expand content accordian.
 *
 *       Global scaling of elements on really small screens?
 */

 /*
  * Global styles
  *     Styles used on every page.
  */

 /* Global colour definitions */
 /* Using CSS variables doesn't reduce typing, but names are easier to remember than hex codes.
	It's also much easier to change one variable declaration if a color changes... */
:root {
    --light-color: #f2f2f2;
    --dark-color: #1a1a1a;
    --light-trans: rgba(242,242,242,0.85);  /*f2f2f2d8*/
    --dark-trans: rgba(26,26,26,0.85);      /*1a1a1ad8*/
	--dark-trans-hint: rgba(26,26,26,0.25);
	--accent-color: #f7931e;
	--accent-trans: rgba(247,147,30,0.85);	/*f7931ed8*/
    
    --facebook-color: #4267B2;
    --twitter-color: #55acee;
    --instagram-color: #833ab4;
    --youtube-color: #ff0000;
}

 /* No default margins or padding */
* {
    margin: 0;
    padding: 0;
}

html,body {height: 100%;}

 /* Default font settings */
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5 {
	font-family: 'Aldrich', sans-serif;
}
h6 {
	font-weight: bold;
}

 /* Prevents content getting too wide while remaining fluid below 1200px.
    I prefer this behaviour to the container class */
.content-pane {
    max-width: 1200px;
     /* Centres horizontally but not vertically */
    margin: 0 auto;
}

.outline-text {
	 /* Uses a 1px shadow in all directions to give text an outline.
	    supported in all browsers since at least 2015 */
	text-shadow:
        -1px -1px 0 var(--dark-color),
         1px -1px 0 var(--dark-color),
        -1px  1px 0 var(--dark-color),
         1px  1px 0 var(--dark-color);
}

.thick-outline-text {
	text-shadow:
        -2px -2px 0 var(--dark-color),
         2px -2px 0 var(--dark-color),
        -2px  2px 0 var(--dark-color),
         2px  2px 0 var(--dark-color);
}

 /*
  * Header styles
  */
.site-header {
    position: absolute;
    z-index: 999; /*Ensures header remains visible above hero-image*/
    background-color: var(--dark-trans);
	
	border-bottom: 1px solid var(--accent-color);
}

.site-logo {
    display: block;
    background: url("../images/logo-sm-db.png") no-repeat;
    width: 120px;
    height: 42px;
}

 /*
  * Navbar styles
  */
.navbar {
	padding: 5px;
}

.navbar-toggle-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-nav {
    margin: auto;
    padding: 0 10%;
    text-align: left;
}

.nav-menu-icon {
    width: 25px;
    height: 25px;
}

 /* Themes the hamburger icon SVG */
.nav-menu_icon_line {
    fill: none;
    stroke: var(--light-color);
    stroke-linecap: square; /*round*/ /*square*/
    stroke-miterlimit: 10;
    stroke-width: 100px;
}

.nav-link {
    margin: 0px;
    color: var(--light-color);
	padding: 0.5em;
	
	font-family: 'Aldrich', sans-serif;
	font-size: 125%;
	
	 /* Slowly fades in and out the hover effect */
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   -ms-transition: all 0.5s ease;
   transition: all 0.5s ease;	
}

.nav-link:hover {
    color: var(--accent-color);
    background-color: var(--dark-color);
}

 /* Bit more elegant (and less labour intensive) than using an ID */
.nav-item:first-child {
    border-top: 1px;
    border-bottom: 1px;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-color: var(--light-color);
}

.nav-item {
    border-top: 0;
    border-bottom: 1px;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-color: var(--light-color);
}

 /*
  * Content section styles
  */
 /* hero-content-wrapper stretches to fill page with a flex wrapper.
 	Child elements can then be configured to fill available space or stay
	at bottom of the page etc.*/
.hero-content-wrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	
	margin: auto;
}

.site-hero-image {
	 /* Shifts site content below the header. A bit of a clunky way to do it but it works. */
	padding: 69px 0 0 0;

	 /* Makes the wrapper expand to fill html body */
	display: flex;
	flex: 1;
	
	 /* I think it's better to stick with the larger hero image now it's full viewport height. */
	background: url("../images/banner/hero-sunrise-lg.jpg") no-repeat center center fixed; /*top no-repeat;*/
	 /* I don't use vendor fallbacks here because all browsers have supported this since 2010 */
    background-size: cover;
}

 /* if the page is going to have content below the hero image not just floated over, this class ensures it 
 	dispalys full height. If used the footer will be below the bottom of the screen so the page will always scroll */
.full-vh {
	height: 100vh;
}

.site-content-section {
    min-height: 200px;
    background-color: var(--light-color);
    color: var(--dark-color);
	padding: 10px;
}

 /* If site-content-sections are children of site-content-list they will 
    swap background and foreground colours automatically */ 
.site-content-list .site-content-section:nth-child(odd){
    background-color: var(--light-color);
    color: var(--dark-color);
}
.site-content-list .site-content-section:nth-child(even){
    background-color: var(--dark-color);
    color: var(--light-color);
}

.site-link {
	color: var(--accent-color);
}

.site-link:hover {
	color: var(--dark-color);
	background-color: var(--accent-color);
	text-decoration: none;
	
	border-radius: 0.25em;
}

 /*
  * Footer section styles
  */
.site-footer {
    background-color: var(--dark-color);
	color: var(--light-color);
    height: 50px;
	
	border-top: 1px solid var(--accent-color);
}

#footer-copy-notice {
	padding-top: 5px;
	font-size: 75%;
}

 /* --------------------- social media icons --------------------- */
 /* pushes the media icons to the right */
.media-icons-wrapper {
    display: flex;
    justify-content: flex-end;
}

.media-icons-list {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
}
 /* makes the list horizontal */
.media-icons-list li {
    float: left;
    padding: 5px;
}

.media-icons-list li a {
    display: block;
}

.sm-facebook_icon,
.sm-twitter_icon,
.sm-instagram_icon,
.sm-youtube_icon {
    width: 15px;
    height: 15px;
}

.facebook_icon,
.twitter_icon,
.youtube_icon {
    stroke: none;
    fill: var(--light-color);
}

.sm-inst-grad1,
.sm-inst-grad2,
.sm-inst-grad3,
.sm-inst-grad4,
.sm-inst-grad5 {
    stop-color: var(--light-color);
}

 /* Child path needs to be styled, but hover event needs to be on the icon's container.
        Otherwise hover won't work on the blank part of path. */
.sm-facebook_icon:hover .facebook_icon {
    fill: var(--facebook-color);
}

.sm-twitter_icon:hover .twitter_icon {
    fill: var(--twitter-color);
}

.sm-youtube_icon:hover .youtube_icon {
    fill: var(--youtube-color)
}

 /* Instagram icon uses gradients instead of solid colour */
.sm-instagram_icon:hover .sm-inst-grad1 {stop-color: #515bd4;}
.sm-instagram_icon:hover .sm-inst-grad2 {stop-color: #8134af;}
.sm-instagram_icon:hover .sm-inst-grad3 {stop-color: #dd2a7b;}
.sm-instagram_icon:hover .sm-inst-grad4 {stop-color: #f58529;}
.sm-instagram_icon:hover .sm-inst-grad5 {stop-color: #feda77;}

 /*
  * Page specific styles
  *     Styles used only on specific pages
  */
 /*
  * Home page
  */
.callout-wrapper {
	margin: auto;
	text-align: center;
	
	/* If uncommented the entire callout will have a 
	   background*/
	/*padding: 10px;
	border-radius: 1em;
	background-color: var(--dark-trans);*/
}

.callout-title {	
	color: var(--light-color);
	font-size: 200%;
	margin: 0.5em 0;
	
	/* If uncommented the callout title will have a
	   lozenge shaped background */
	/*background-color: var(--dark-trans);
	border-radius: 1em;
	padding: 0.25em 0.5em;*/
}

.callout-action-title {
	color: var(--light-color);
	margin: 0.5em 0;
}

.callout-rule {
	width: 75px;
	height: 5px;
	margin: auto;
	background-color: var(--accent-color);
}

.callout-button {
	display: block;
	margin: 0.5em auto;
	padding: 0.25em 0.5em;
	
	width: 8em;
	
	font-size: 150%;
	
	color: var(--light-color);
	background: var(--accent-trans);
	border-radius: 1em;
}
.callout-button:hover {
	text-decoration: none;
	color: var(--light-color);
	background-color: var(--accent-color);
}

.callout-link {
	color: var(--light-color);
}

.callout-link:hover {
	text-decoration: none;
	color: var(--accent-color);
	background: none;
}

#watercool-pro-con {
	color: var(--light-color);
	background: url("../images/index/waterblock.jpg") no-repeat;
	background-size: cover;
	padding: 0;
}
#aircool-pro-con {
	color: var(--light-color);
	background: url("../images/index/aircooler.jpg") no-repeat;
	background-size: cover;
	padding: 0;
}

.opaque-overlay {
	background-color: var(--dark-trans);
	padding: 10px;
}

.site-pro-con-list {
	list-style-type: none;
	list-style-position: inside;
	
	margin: 0;
	padding: 10px 0;
}

.site-pro-con-list ul li {
	margin-left: 10px;
	list-style-type: disc;
}

.site-pro-con-list ul ul li {
	margin-left: 20px;
	list-style-type: circle;
}

 /* 
  * Showcase Page
  */

 /* showcase-wrapper and hero-content-wrapper expand to fill at least 
	full viewport height and width and centre content in available space
	with a maximum width of 1200px. */
.showcase-wrapper {
	display: flex;
	padding: 0;
}

 /* --------------------- Showcase cards --------------------- */
.card {
	background-color: var(--light-trans);
	color: var(--dark-color);
}

.card-body {
	padding: 0;
}

.card-header,
.card-header:hover {
	 /* Makes it a bit more obvious that this is an interactive item. */
	text-decoration: none;
	color: var(--dark-color);
}

.card-header,
.card .collapse {	
	padding: 5px;
	margin: 0;
}

.card-toggle {
	text-align: left;
}
.card-toggle:focus {
	outline: 1px solid var(--accent-color);
}

.card-header-logo {
	display: block;
	width: 25px;
	height: 25px;
	margin: auto;
}

.showcase-title {
	font-size: 150%;
}

.showcase-header-desc {
	text-align: center;
}

.showcase-quicklook {
	background-color: var(--light-color);
	color: var(--dark-color);
	
	padding: 10px;
}

.progress {
    position: relative;
	margin: 5px;
	border: 1px solid var(--dark-color);
}

.progress-bar {
	background-color: var(--accent-color);
}

.progress-type {
    position: absolute;
    left: 5px;
	
	color: var(--dark-color);
}

.progress-section {
	padding: 5px 10px;
}

.showcase-description,
.showcase-techspec
{
	background-color: var(--dark-color);
	color: var(--light-color);
	
	padding: 10px;
}

.showcase-tech-key {
	font-family: 'Aldrich', sans-serif;
	font-weight: bold;
}

.showcase-tech-value {
	padding: 0 0 10px 25px;
}

 /* --------------------- showcase gallery --------------------- */
.showcase-gallery {
	padding: 10px;
}

.showcase-thumbnail {
	object-fit: cover;
	
	width: 100%;
	padding: 10px;
	
	border-radius: 50%;
	
	 /* Slowly fades in and out the hover effect */
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   -ms-transition: all 0.5s ease;
   transition: all 0.5s ease;	
}

 /* Thumbnail swaps from a circle to a rounded rectangle on mouseover. */
.showcase-thumbnail:hover {
	/*-webkit-filter: brightness(50%);
	filter: brightness(50%);*/
	border-radius: 10%;
}

 /* --------------------- showcase gallery popup --------------------- */
.dialog {
	 /* Ensures the modal is above the header */
	z-index: 9999;
}

.modal-content {
	background-color: var(--light-color);
	color: var(--dark-color);
}

.modal-header {
	border-color: var(--accent-color);
}

.modal-footer button {
	background-color: var(--dark-color);
	color: var(--light-color);
}

.carousel-arrow {
	font-size: 500%;
	font-weight: bolder;
	color: var(--light-color);
}

 /* carousel-item and carousel-item-image prevents the image getting larger 
    than the screen in any direction and centres it in the window */
.carousel-item {
	max-width: 75vw;
	max-height: 75vh;
	margin:auto;
}

.carousel-item-image {
	display: block;
	object-fit: contain;
	width: 100%;
	height: auto;
	max-width: 75vw;
	max-height: 75vh;
	margin:auto;
}

 /* caption is hidden on smaller screens. */
.carousel-caption {
	display: none;
}
.carousel-caption p {
	text-shadow:
        -1px -1px 0 var(--dark-color),
         1px -1px 0 var(--dark-color),
        -1px  1px 0 var(--dark-color),
         1px  1px 0 var(--dark-color);	
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
	background-color: var(--dark-trans-hint);
}
 /*
  * Contact Page
  */
 /* contract-form and form-group should expand to fill horizontal space */
.contact-form,
.form-group {
	display: flex;
	flex-grow: 1;
}

 /* Centres contract-form vertically and horizontally and prevents the form
    becoming wider than 850px */
.contact-form {
	padding: 10px;
	flex-direction: column;
	flex-grow: 1;
	
	margin: auto;
	width: 100%;
	max-width: 850px;

	background-color: var(--light-trans);
	color: var(--dark-color);
}

.form-message-box {
	width: 100%;
	height: 100px;
}

.form-control,
.form-message-box {
	background-color: var(--light-color);
	color: var(--dark-color);
}

.form-button {
	background-color: var(--dark-color);
	color: var(--light-color);
}

.form-button:focus,
.form-control:focus,
.form-message-box:focus
{
	outline: 2px solid var(--accent-color);
}

 /*
  * Media Queries
  */
 /* Minimum targeted width is 220px. The smallest resolution currently in use (AFAIK) is QVGA at 240px width.
    Acessabilty screen scalling systems don't go lower than that without panning/zooming so I think targeting
    smaller resolutions would be wasted effort at this stage. 220px gives a reasonable margin of error. */

 /* xs >320px (small smartphones) */
@media (min-width: 320px) {
	.sm-facebook_icon,
	.sm-twitter_icon,
	.sm-instagram_icon,
	.sm-youtube_icon {
    	width: 25px;
    	height: 25px;
	}
}

 /* xs->sm >450px (smartphones) */
 /* sm >576px (smartphones) */
@media (min-width: 450px) {
    .site-logo {
        background: url("../images/logo-lg-db.png") no-repeat;
        width: 320px;
        height: 112px;
    }

    .site-hero-image {
        background: url("../images/banner/hero-sunrise-lg.jpg") no-repeat center center fixed; /*top no-repeat;*/
        background-size: cover;
    }

    .site-hero-image {
		padding-top: 139px;
    }
	
	.callout-title {
		font-size: 250%;
	}
	
	 /* Shrink showcase icon and header text */
	.card-header-logo {
		width: 50px;
		height: 50px;
	}
	
	.showcase-title {
		font-size: 200%;
	}
	
	.carousel-caption {
		display: block;
	}
}
 /* md >768px width (tablets) */
@media (min-width: 768px) {
    .navbar-toggler {
         display: none;
    }

    .navbar-wrapper {
        justify-content: center;
    }

    .navbar-nav {
        padding: 0;
        text-align: center;
    }

    .nav-link {
        width: 150px;
		padding: 0;
    }

    .navbar-wrapper {
        width: 100%;
    }
	
	.nav-item:first-child {
		border-top: 0;
        border-bottom: 0;
        border-left: 1px;
        border-right: 1px;
        border-style: solid;
        border-color: var(--light-color);
	}
    .nav-item {
        border-top: 0;
        border-bottom: 0;
        border-left: 0;
        border-right: 1px;
        border-style: solid;
        border-color: var(--light-color);
    }

    .site-hero-image {
    	padding-top: 169px;
    }
	
	.showcase-quicklook {
		background-color: var(--dark-color);
		color: var(--light-color);
	}
}

 /* lg >992px width (tablets/small PCs) */
@media (min-width: 992px) {
	.showcase-header-desc {
		text-align: right;
	}
}
 /* xl >1200px width (PCs) */