
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*
 * GLOBAL STYLES
 *  - Styles applied to all pages
 */

 /* Global colour definitions */
:root {
    --light-color: #f2f2f2;
    --dark-color: #1a1a1a;
    --light-trans: rgba(242,242,242,0.75);  /*f2f2f2bf*/
    --dark-trans: rgba(26,26,26,0.75);      /*1a1a1abf*/
    
    --facebook-color: #4267B2;
    --twitter-color: #55ACEE;
    --instagram-color: #833AB4;
    --youtube-color: #FF0000;
}

 /* No default margins or padding */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/*
 * Page header styles
 */
.site-header {
    position: absolute;
    top: 0;
    width:100%;

    color: var(--light-color);
}

.site-logo {
    display: block;
    background: url("../images/logo-sm-db.png") no-repeat;
    width: 120px;
    height: 42px;
}

/*
 * Navbar
 */
.navbar {
}

.navbar-bg {
    background-color: var(--dark-trans);
}

.navbar-wrapper {
    background-color: var(--dark-trans);
}

.navbar-nav {
    padding: 0 10%;
    text-align: left;
}

.navbar-toggle {
    position: absolute;
    
    right: 15px;

     /* Centers the menu toggle vertically in the header */
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.nav-menu-icon {
    width: 25px;
    height: 25px;
}

.nav-menu_icon_line {
    fill: none;
    stroke: var(--light-color);
    stroke-linecap: square; /*round*/ /*square*/
    stroke-miterlimit: 10;
    stroke-width: 100px;
}

#nav-item-first {
    border-top: 1px;
    border-bottom: 1px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: var(--light-color);
}

.nav-item {
    border-top: 0px;
    border-bottom: 1px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: var(--light-color);
}

/*.nav-item .active {
    background-color: var(--light-color);
    color: var(--dark-color);
}*/

.nav-link:hover {
    color: var(--light-color);
    background-color: var(--dark-color);
}

.nav-link {
    width: 100%;
    margin: 0px;

    color: var(--light-color);
}

 /*
  * Content section
  */

.site-content {
}

 /* Test Container - !!!!REMOVE IN LIVE SITE!!!! */
.test {
    width: 100%;
    background-color:red;
}

 /* Test Content - !!!!REMOVE IN LIVE SITE!!!! */
.testContentShift {
    padding: 10px 20px 10px 10px;
}

 /*
  * Footer styles
  */
.site-footer {
    background-color: var(--dark-color);
    min-height: 100px;
}

.media-icons-wrapper {
    float: right;
}

.media-icons-list {
    list-style-type: none;
    overflow: hidden;
}

.media-icons-list li {
    float: left;
    padding: 5px;
}

.media-icons-list li a {
    display: block;
}

.sm-facebook_icon,
.sm-twitter_icon,
.sm-instagram_icon,
.sm-youtube_icon {
    width: 25px;
    height: 25px;
}

.facebook_icon,
.twitter_icon,
.youtube_icon {
    stroke: none;
    fill: var(--light-color);
}

.sm-inst-grad1,
.sm-inst-grad2,
.sm-inst-grad3,
.sm-inst-grad4,
.sm-inst-grad5 {
    stop-color: var(--light-color);
}


 /* Child path needs to be styled, but hover event needs to be on container.
        Otherwise hover doesn't work on blank part of path. */
.sm-facebook_icon:hover .facebook_icon {
    fill: var(--facebook-color);
}

.sm-twitter_icon:hover .twitter_icon {
    fill: var(--twitter-color);
}

.sm-youtube_icon:hover .youtube_icon {
    fill: var(--youtube-color)
}

 /* Instagram icon uses gradients for colour */
.sm-instagram_icon:hover .sm-inst-grad1 {stop-color: #515BD4;}
.sm-instagram_icon:hover .sm-inst-grad2 {stop-color: #8134AF;}
.sm-instagram_icon:hover .sm-inst-grad3 {stop-color: #DD2A7B;}
.sm-instagram_icon:hover .sm-inst-grad4 {stop-color: #F58529;}
.sm-instagram_icon:hover .sm-inst-grad5 {stop-color: #FEDA77;}

/*
 * PAGE SPECIFIC STYLES
 *  - Styles only applied to specific pages.
 */

/*
 * MEDIA QUERIES
 */
 /* XS >250px - Really small phone screens*/
 /* XS -> SM >450px */
@media (min-width: 450px) {
    .site-logo {
        display: block;
        background: url("../images/logo-lg-db.png") no-repeat;
        width: 320px;
        height: 112px;
    }
}
 /* SM >576px - Large phone screens/small tablets */
 /* MD >768px - Tablets */
@media (min-width: 768px) {
    .navbar-toggle {
         display: none;
     }

    .navbar-nav {
         /* Centers navbar horizontally */
        margin: auto;
        width: auto;

        text-align: center;
    }

    .nav-link {
        width: 150px;
    }

    .navbar-wrapper {
        width: 100%;
    }

    #nav-item-first {
        border-top: 0px;
        border-bottom: 0px;
        border-left: 1px;
        border-right: 1px;
        border-style: solid;
        border-color: var(--light-color);
    }

    .nav-item {
        border-top: 0px;
        border-bottom: 0px;
        border-left: 0px;
        border-right: 1px;
        border-style: solid;
        border-color: var(--light-color);
    }
}
 /* LG >992px - large tablets/Small laptop/desktop screens */
 /* XL >1200px - Laptop/desktop screens */